

<!DOCTYPE html>
<html lang="<%= theme.language %>">
<head>
    <%- partial('partials/head') %>
</head>
<body>

<header class="header panel-aside J_header"
        style='background: url("<%- theme.asideBackground %>") top left no-repeat; background-size: cover;'>

    <% if(is_post() && toc(page.content, {class: 'directory'}) !== ""){ %>
        <%- partial('partials/aside/aside-post') %>
    <% }else{ %>
        <%- partial('partials/aside/aside-normal') %>
    <% } %>

</header>
<div class="main-wrapper">
    <div class="content">
        <%- body %>
    </div>
    <%- partial('components/scrollyTop/scrollyTop') %>
    <footer class="footer">
        <%- partial('partials/footer') %>
    </footer>
</div>

    <%- partial('partials/get-script') %>

</body>
</html>
